:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --text-color: rgb(7, 5, 68);
    --label-color: rgb(75, 102, 98);
    --placeholder-color: rgb(136, 136, 153);
    --offset-color: rgb(217, 236, 217);
    --action-color: rgb(77, 132, 252);

    --primary-font: 'Rubik', Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans',
        'DejaVu Sans', 'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    height: 100vh;
    font-family: 'Noto Sans Mono', monospace;
    color: var(--text-color);
    background: url(/assets/esports.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: grid;
    grid-template-rows: auto 1fr;
}

h2 {
    font-size: 50px;
    color: rgb(73, 106, 101);
}

h4 {
    font-size: 20px;
    color: rgb(113, 118, 57);
}

h3 {
    color: white;
}
.page-header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 20px;

    background-color: var(--header-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.page-header .logo {
    height: 100%;
}

.page-header .title {
    font-size: 1.3em;
    font-weight: 800;
    flex-grow: 2;
}

.page-header nav {
    display: flex;
    gap: 10px;
}

main {
    padding: 20px;
}

.avatar {
    height: 36px;
    width: 36px;
    object-fit: cover;
    border: 1px solid var(--placeholder-color);
    border-radius: 100%;
}

.error {
    min-height: 1em;
    color: red;
}

.hidden {
    display: none;
}

.player:hover {
    cursor: pointer;
    text-decoration: line-through;
}

#esport-teams {
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 60px;
    row-gap: 150px;
    background-color: rgba(87, 91, 94, 0.582);
    color: rgb(88, 205, 187);
    padding: 20px;

    font-family: 'Noto Sans Mono', monospace;
    font-size: 15px;
}

#create-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player-form {
    display: flex;
    flex-direction: column;
    background-color: rgb(87, 91, 94);
    color: wheat;
    width: 200px;
    padding: 20px;
    font-size: 15px;
}
